<h1>Edit Chat</h1>

<%= form_with model: @chat, class: "mt-4" do |form| %>
  <% if @chat.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h4>
      <ul>
        <% @chat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :sender_id, class: "form-label" %>
    <%= form.collection_select :sender_id, User.all, :id, :email,
          { prompt: "Select sender" }, { class: "form-select" } %>
  </div>

  <div class="mb-3">
    <%= form.label :receiver_id, class: "form-label" %>
    <%= form.collection_select :receiver_id, User.all, :id, :email,
          { prompt: "Select receiver" }, { class: "form-select" } %>
  </div>

  <%= form.submit "Update Chat", class: "btn btn-success" %>
<% end %>
